<% if logged_in? %>
  <div class="py-5">
    <h2 class="text-center">論文管理</h2>
  </div>



  <div class="row SideSpace">

    <aside class="col-md-4 mb-4">
      <%= form_with(model: @paper, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_area :title, class: 'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :content, '説明' %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>

        <div class="form-group">
          <%= f.label :tag, 'ジャンル' %>
          <%= f.text_area :tag, class: 'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :pdf, 'PDFを選択' %>
          <%= f.file_field :pdf, class: 'form-control' %>
        </div>        
        
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>

   

    <div class="col-md-8">

      <div class="mb-4 text-right SideSpace">

        <%= form_tag("/", :method => 'get' ) do %>
          <span>論文検索</span>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :name => nil %>
        <% end %>   
      
      </div>

      <table class="table table-striped">
        <tr>
          <th>作成者</th>
          <th>論文</th>
          <th>説明</th>
          <th>ジャンル</th>
        </tr>
        <% @papers.each do |paper| %>
          <tr>
            <td><%= paper.user.name %></td>
            <td><%= link_to "#{paper.title}", "/papers/#{paper.id}" %></td>
            <td>
              <% if paper.content %>
                <%= paper.content %>
              <% end %>            
            </td>
            <td>
              <% if paper.tag %>
                <%= paper.tag %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    
  </div>
<% else %>
  <div class="center jumbotron-extend">
    <h1 class="text-center pt-5 py-4 font-weight-bold" style="color: white;">『Ronbu』は、あなたの論文管理をサポートします。</h1>

  </div>

  

  <h3 class="text-center my-4">『Ronbu』の特徴</h3>

  <div class="row mx-auto">
    <aside class="col-md-6">
      <img class="img-fluid" src="/main4.jpg" alt="サポート">
    </aside>
    <aside class="col-md-6">
    <div class="text-center mx-auto my-4" style="width: 84%;">
      <h4 class="font-weight-bold my-3">論文管理をスマートに</h4>
      <h5>タイトル、著者、ジャンル、補足説明を登録可能。<br>登録した論文はいつでもダウンロードできる。</h5>
    </div>

    </aside>
  </div>
  <div class="row mx-auto">
    <aside class="col-md-6">
      <div class="text-center mx-auto my-4" style="width: 84%;">
        <h4 class="font-weight-bold my-3">使い方はとってもシンプル</h4>
        <h5 class="my-3">①会員登録</h5>
        <h5 class="my-3">②論文登録</h5>
        <h5 class="my-3">③論文管理(検索、編集)</h5>
      </div>
    </aside>
    <aside class="col-md-6">
      <img class="img-fluid" src="/main2.jpg" alt="サポート">
    </aside>
  </div>
  <div class="my-4">
    <h3 class="text-center my-4">もう論文管理で苦労するのはここまで</h3>
  </div>
<% end %>