<% if logged_in? %>
  <div class="pb-5">
    <h2 class="text-center">論文一覧</h2>
  </div>

  <div class="row">
    <aside class="col-sm-12 mb-4">
      <%= form_with(model: @paper, local: true) do |f| %>
        <div class="form-group">
          <%= f.label :title, 'タイトル' %>
          <%= f.text_area :title, class: 'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :content, '説明' %>
          <%= f.text_area :content, class: 'form-control', rows: 5 %>
        </div>

        <div class="form-group">
          <%= f.label :tag, 'ジャンル' %>
          <%= f.text_area :tag, class: 'form-control', rows: 1 %>
        </div>

        <div class="form-group">
          <%= f.label :pdf, 'PDFを選択' %>
          <%= f.file_field :pdf, class: 'form-control' %>
        </div>        
        
        <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
      <% end %>
    </aside>

   

    <div class="col-sm-12">

      <div class="mb-4 text-right">

        <%= form_tag("/", :method => 'get' ) do %>
          <%= text_field_tag :search %>
          <%= submit_tag 'Search', :name => nil %>
        <% end %>   
      
      </div>

      <table class="table table-striped">
        <tr>
          <th>作成者</th>
          <th>論文</th>
          <th>説明</th>
          <th>ジャンル</th>
        </tr>
        <% @papers.each do |paper| %>
          <tr>
            <td><%= paper.user.name %></td>
            <td><%= link_to "#{paper.title}", "/papers/#{paper.id}" %></td>
            <td>
              <% if paper.content %>
                <%= paper.content %>
              <% end %>            
            </td>
            <td>
              <% if paper.tag %>
                <%= paper.tag %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
    
  </div>
<% else %>
  <div class="center jumbotron-extend">
    <div class="row opacity05">
      <div class="col-sm-7 offset-sm-1 bg-light rounded py-2 margin-top">
        <div class="text-center py-4">
          <h3>『Ronbu』で、論文管理をもっと簡単に。</h3>
        </div>

        <%= form_with(model: @user, local: true) do |f| %>
          <%= render "layouts/error_messages", model: f.object %>
          
          <div class="form-group">
            <%= f.label :name, '名前' %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>  

          <div class="form-group">
            <%= f.label :email, 'メールアドレス' %>
            <%= f.email_field :email, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password, 'パスワード' %>
            <%= f.password_field :password, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation, 'パスワード再入力' %>
            <%= f.password_field :password_confirmation, class: 'form-control' %>
          </div>

          <%= f.submit '会員登録', class: 'btn btn-primary btn-block' %>
        <% end %>
      </div>
    </div>
  </div>

  <h2 class="py-4 bg-light">『Ronbu』は、あなたの論文管理をサポートします。</h2>

  <h3 class="text-center my-4">『Ronbu』の特徴</h3>

  <div class="row">
    <aside class="col-sm-6">
      <img class="img-fluid" src="/main2.jpg" alt="サポート">
    </aside>
    <aside class="col-sm-6">
      <h4 class="text-center">論文管理はアプリに任せて</h4>
      <p class="text-center">PDFの論文をすぐに保存出来るから安心</p>
    </aside>
  </div>
  <div class="row">
    <aside class="col-sm-6">
      <h4 class="text-center">論文管理はアプリに任せて</h4>
      <p class="text-center">PDFの論文をすぐに保存出来るから安心</p>
    </aside>
    <aside class="col-sm-6">
      <img class="img-fluid" src="/main2.jpg" alt="サポート">
    </aside>
  </div>
  <div class="my-4">
    <h3 class="text-center my-4">『Ronbu』の使い方</h3>
    <h4 class="text-center my-3">①会員登録</h4>
    <h4 class="text-center my-3">②論文登録</h4>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <img class="img-fluid" src="/main3.jpg" alt="サポート">
    </div>
  </div>



<% end %>