<div class="text-center">
  <h1>論文の編集</h1>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: @paper, local: true) do |f| %>
      <%= render "layouts/error_messages", model: f.object %>
      <div class="form-group">
        <%= f.label :title, '名前' %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>  
      <div class="form-group">
        <%= f.label :content, '説明' %>
        <%= f.text_field :content, class: 'form-control' %>
      </div>        
      <div class="form-group">
        <%= f.label :tag, 'Name' %>
        <%= f.text_field :tag, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :pdf, 'PDFを選択' %>
        <%= f.file_field :pdf, class: 'form-control' %>
      </div>         
      
      <%= f.submit '更新', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>